@model Jeremy.IdentityCenter.Business.Models.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "忘记密码";
    Layout = "_BlankLayout";
}

<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">请输入账户信息</h1>
                <h6 class="text-gray-400 mb-4">用户名和邮箱需要对应</h6>
            </div>

            <partial name="_ValidationSummary" />

            <form asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>
</div>
