@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "重置密码";
}

<h2>@ViewData["Title"]</h2>
<p>
    重置链接已发送至邮箱，请到邮箱确认。如果长时间没有收到，请点击 <a asp-controller="Account" asp-action="ForgotPassword">这里</a> 重新发送。
</p>
