@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    您的密码已重置。请点击 <a asp-action="Login" asp-controller="Account">这里</a> 登录。
</p>
