@{
    ViewData["Title"] = "注册成功页面";
    Layout = "_blankLayout";
}

<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">注册成功</h1>
            </div>
            
            <label class="text-center">请登录邮箱以激活账户。</label>
        </div>
    </div>
</div>