@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "身份管理中心";
}



<div class="row">
    <div class="col-12 mb-3 text-center mt-1">
        <h2><span class="oi oi-lock-locked" title="Identities" aria-hidden="true"></span>身份管理中心</h2>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <a asp-action="Roles" class="btn btn-primary mb-3 mt-3"><span class="oi oi-plus"></span>管理角色</a>
    </div>
    <div class="col-6">
        <a asp-action="Users" class="btn btn-primary mb-3 mt-3"><span class="oi oi-plus"></span>管理用户</a>
    </div>
</div>
