@model Jeremy.IdentityCenter.Business.Models.Identity.UserViewModel
@{
    ViewBag.Title = "删除用户";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Identities" asp-action="Users">用户列表</a></li>
                <li class="breadcrumb-item"><a asp-controller="Identities" asp-action="UserInfo" asp-route-id="@Model.Id">@Model.Username</a></li>
                <li class="breadcrumb-item active" aria-current="page">删除用户</li>
            </ol>
        </nav>
    </div>
</div>

<form id="client-form" asp-controller="Identities" asp-action="UserDelete" Method="post">

    <h2>删除用户</h2>

    <!--Hidden -->
    <input type="hidden" asp-for="Id" />
    <div class="card mt-3">
        <h5 class="card-header">删除用户</h5>
        <div class="card-body">

            <!--Input - text -->
            <div class="form-group row">
                <label-name asp-for="Username" class="col-sm-3 col-form-label">
                </label-name>
                <div class="col-sm-9">
                    <input type="text" class="form-control" disabled="disabled" asp-for="Username">
                </div>
            </div>

            <!--Input - text -->
            <div class="form-group row">
                <label-name asp-for="NickName" class="col-sm-3 col-form-label">
                </label-name>
                <div class="col-sm-9">
                    <input type="text" class="form-control" disabled="disabled" asp-for="NickName">
                </div>
            </div>

            <!--Button-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">
                </label>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-danger">删除</button>
                </div>
            </div>
        </div>
    </div>
</form>