@model Jeremy.IdentityCenter.Business.Models.Identity.ChangePasswordViewModel
@{
    ViewData["Title"] = "修改密码";
}

<h4>修改密码</h4>

@await Html.PartialAsync("_ValidationSummary")

<div class="row">
    <div class="col-12">
        <form method="post">
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Username" />

            <div class="form-group">
                <label-name asp-for="CurrentPassword" class="col-sm-3 col-form-label"></label-name>
                <input asp-for="CurrentPassword" type="password" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label-name asp-for="Password" class="col-sm-3 col-form-label"></label-name>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label-name asp-for="ConfirmPassword" class="col-sm-3 col-form-label"></label-name>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
</div>
