@using Jeremy.IdentityCenter.Business.Models
@model Jeremy.IdentityCenter.Business.Models.IdentityResource.IdentityResourcesViewModel
@{
	ViewBag.Title = "身份资源";
}

<div class="row">
	<div class="col-12 text-center mt-1 mb-1">
        <h2><span class="oi oi-tags" title="Identity Resources" aria-hidden="true"></span>身份资源</h2>
	</div>

	<div class="col-12">
		<a asp-action="IdentityResource" class="btn btn-outline-primary mb-3"><span class="oi oi-plus"></span>添加身份资源</a>
	</div>

	<div class="col-12">
		@await Html.PartialAsync("Search", new Search { Action = "Index", Controller = "IdentityResource" })
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
                        <th>身份资源</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var identity in Model.IdentityResources)
					{
						<tr>
							<td>@identity.Name</td>
                            <td class="flex-nowrap text-right">
                                <a class="btn btn-primary" asp-action="IdentityResource" asp-route-id="@identity.Id">编辑</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@identity.Id"><span class="oi oi-x"></span></a>
                            </td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		@await Html.PartialAsync("Pagination", new Pagination { Action = "Index", PageSize = Model.PageSize, TotalCount = Model.TotalCount, EnableSearch = true, Search = ViewBag.Search })
	</div>
</div>